/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  background-color: #fff;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
header {
  height: 70px;
  background-color: #1c1c1c;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 10;
}
header img {
  height: 50px;
  position: absolute;
  top: 10;
}
nav {
  display: inline-block;
  /* display: table; */
  margin: 0 auto;
  padding: 26px;
  font-family: sans-serif;
}
nav ul {
  /* max-width: 696px; */
  list-style: none;
  margin: 0;
  text-align: right;
}
nav ul li {
  display: inline;
}
nav a {
  color: #a2a2a2;
  text-decoration: none;
  padding: 0 0 0 30px;
}
nav a:hover,
nav a.active {
  color: #fe0000;
  /* color: #fff; */
}
menu {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}
menu ul {
  list-style: none;
  margin: 0;
  width: 100%;
}
menu li {
  padding: 1em;
}
menu a {
  color: #a2a2a2;
  text-decoration: none;
  padding: 0 0 0 30px;
}
content {
  background-color: #ccc;
}
.main-container {
  border: 1px solid black;
  padding: 70px;
  z-index: -1;
  box-sizing: border-box;
  /* position: relative; */
  transform-style: inherit;
  overflow-y: hidden;
}
@media screen and (max-width: 480px) {
  .main-container {
    height: 50%;
  }
}
@media screen and (max-width: 700px) {
  .main-container {
    height: 100%;
  }
}
.main-container .title {
  color: #fff;
  text-shadow: 1px 1px 3px #000000;
  text-transform: uppercase;
  font-weight: 600;
  /* text-shadow: 1px 1px 1px #000, 3px 3px 5px #00000082 */
}
.main-container .title.large {
  padding: 70px 0;
}
@media screen and (max-width: 200px) {
  .main-container .title.large {
    line-height: 0.4;
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .main-container .title.large {
    line-height: 0.7;
    font-size: 60px;
  }
}
@media screen and (max-width: 700px) {
  .main-container .title.large {
    line-height: 1.1;
    font-size: 80px;
  }
}
@media screen and (max-width: 990px) {
  .main-container .title.large {
    line-height: 1.5;
    font-size: 100px;
  }
}
.main-container .title.center {
  text-align: center;
}
.main-container .title.left {
  text-align: left;
}
@media screen and (max-width: 200px) {
  .main-container p {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .main-container p {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .main-container p {
    font-size: 14px;
  }
}
@media screen and (max-width: 990px) {
  .main-container p {
    font-size: 16px;
  }
}
.main-container .row,
.main-container .row > .column {
  padding: 8px;
}
@media screen and (max-width: 200px) {
  .main-container .row .column {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .main-container .row .column {
    width: 50% !important;
  }
}
@media screen and (max-width: 700px) {
  .main-container .row .column {
    width: 33.3% !important;
  }
}
@media screen and (max-width: 990px) {
  .main-container .row .column {
    width: 25% !important;
  }
}
.main-container .row .column:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.24);
}
.main-container,
.main-container::before {
  background: 50% 50% / cover;
}
.main-container::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  /* position: absolute; */
  display: block;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}
footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: block;
}
footer .box {
  margin-bottom: 30px;
}
footer .box h3 {
  color: #fe0000;
  margin: 0;
}
footer .box a {
  color: #fff;
  text-decoration: underline;
}
footer .box a:hover {
  color: #fe0000;
  text-decoration: none;
}
